@using System.Globalization
@using CodeYesterday.Lovi.Helper

@inherits LoviPane

@if (SelectedItem is null)
{
    <RadzenText class="rz-m-auto" Text="No item selected"/>
}
else
{
    var logItemSettings = SettingsService.Settings.GetLogLevelSettings(SelectedItem.LogEvent.Level);

    <RadzenSplitter Orientation="Orientation.Horizontal" class="flex-fill" Expand="OnSplitterPaneExpand" Collapse="OnSplitterPaneCollapse" Resize="OnSplitterPaneResize">
        <RadzenSplitterPane Size="@(MessagePaneWidth.ToString("0.##", CultureInfo.InvariantCulture) + "%")" Collapsible="false">
            <RadzenStack Orientation="Orientation.Vertical" class="h-100 w-100 no-scroll-x no-scroll-y" Gap="0">
                <RadzenStack Orientation="Orientation.Horizontal" class="rz-p-1" Gap="0.5em" AlignItems="AlignItems.Center">
                    <RadzenIcon Icon="@logItemSettings.Icon" IconColor="@logItemSettings.Color" />

                    <RadzenLabel Text="@(SelectedItem.LogEvent.Timestamp.ToString(SettingsService.Settings.TimestampFormat))"/>

                    <RadzenStack Orientation="Orientation.Horizontal" class="rz-ml-auto" Gap="0" AlignItems="AlignItems.Center">
                        <ToolbarCheckBoxControl CheckBox="@WrapMessageCheckBox" />
                        <ToolbarButtonControl Button="@CopyMessageButton" />
                    </RadzenStack>
                </RadzenStack>

                <div class="@($"text-view flex-fill{(WrapMessageCheckBox.IsChecked ? " text-view-wrap" : string.Empty)}")">
                    @LogEventHtmlRenderer.RenderedMultiLineLogMessage(SelectedItem)
                </div>
            </RadzenStack>
        </RadzenSplitterPane>

        <RadzenSplitterPane Collapsible="true" Collapsed="@(!ExceptionPaneVisible)">
            <RadzenStack Orientation="Orientation.Vertical" class="h-100 w-100 no-scroll-x no-scroll-y" Gap="0">
                <RadzenStack Orientation="Orientation.Horizontal" class="rz-p-1" Gap="0.5em" AlignItems="AlignItems.Center">
                    <RadzenStack Orientation="Orientation.Horizontal" class="rz-ml-auto" Gap="0" AlignItems="AlignItems.Center">
                        <ToolbarCheckBoxControl CheckBox="@WrapExceptionCheckBox" />
                        <ToolbarButtonControl Button="@CopyExceptionButton" />
                    </RadzenStack>
                </RadzenStack>

                <div class="@($"text-view flex-fill{(WrapExceptionCheckBox.IsChecked ? " text-view-wrap" : string.Empty)}")">
                    @RenderedException(SelectedItem)
                </div>
            </RadzenStack>
        </RadzenSplitterPane>
    </RadzenSplitter>
}

<style>
    .text-view {
        overflow-x: auto;
        overflow-y: auto;
        background-color: var(--rz-editor-content-background-color);
        margin: 0;
        font-family: monospace;
        white-space: nowrap;
    }

    .text-view-wrap {
        width: 100%;
        white-space: normal !important;
    }
</style>